extends layout 

block content
    h1 Esimerkki
    p.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, harum 
        praesentium omnis, ipsam sed suscipit aperiam quibusdam qui mollitia 
        repudiandae repellendus odio beatae aspernatur ipsa! Dicta recusandae 
        dolores quisquam ducimus?